html 
    head 
        title This is master pug 
        link(rel="stylesheet", href="stylesheets/style.css")
    body 
        ul#menu    
            li
                a(href="/") Home 
            li
                a(href="/products") Products  
            li
                a(href="/contactus") Contact Us
        block content 
        block footer 